
<div class="container-fluid">
<div class="col-md-12" style="margin-top:10px">

<div class="row">
<div class="col-md-6">

<div id="text3" style="display:none">
<%= image_tag("green.png", class: "containt") %>
</div>

<div id="text2" style="display:none">
<%= image_tag("tomato.png", class: "containt") %>
</div>
<div id="text1" style="display:none">
<%= image_tag("mushroom.png", class: "containt") %>
</div>
<div id="text0" style="display:none">
<%= image_tag("veg.png", class: "base") %>
</div>
<div id="text" style="display:none">
<%= image_tag("non.png", class: "base") %>
</div>

</div>

<div class="col-md-6"  style="padding: 10%">
<h4 style="margin-bottom: 30px">PIZZA ORDER SYSTEM</h4>


<h4>Pizza Base</h4>
<input type="checkbox" id="myCheck"  onclick="myFunction()">Egg
<input type="checkbox" id="myCheck0"  onclick="myFunction()">Tomato


<h4>Pizza Content</h4>

<input type="checkbox" id="myCheck1"  onclick="myFunction()">Mushroom

<input type="checkbox" id="myCheck2"  onclick="myFunction()">Tomato
<br/>
<input type="checkbox" id="myCheck3"  onclick="myFunction()">Green Papper

<br/>
<button class="primary" name="order pizza" style="margin-top: 30px; background-color: #b2292b; color: white; padding: 5px 10px 5px 10px; border: none">ORDER PIZZA</button>

</div>

</div>
</div>
</div>